.success-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #dff0d8;
    padding: 20px;
    border-radius: 5px;
    height: 100vh; /* Set the height of the container to 100% of the viewport height */
    width: 100%; /* Set the width of the container to 100% */
  }
  
  .success-icon {
    font-size: 48px;
    color: #4caf50;
  }
  
  .success-heading {
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
  }
  
  .success-text {
    margin-top: 10px;
    font-size: 28px;
    text-align: center;
  }

  