<div class="center-container">
  <mat-card>
    <mat-card-title>Sign Up Form</mat-card-title>
    <mat-card-content>
      <form [formGroup]="signUpForm">
        <mat-form-field>
          <mat-label>Email Address</mat-label>
          <input matInput type="email" placeholder="Enter your email address" formControlName="email">
          <mat-error *ngIf="signUpForm.controls['email'].invalid && signUpForm.controls['email'].touched">
            The Email address is not valid!
          </mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-label>How did you hear about us?</mat-label>
          <mat-select placeholder="Select" formControlName="sourceOfInformation" required
            (selectionChange)="onSelectionChange()">
            <mat-option value="advert">Advert</mat-option>
            <mat-option value="wordOfMouth">Word of Mouth</mat-option>
            <mat-option value="other">Other</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="signUpForm.controls['sourceOfInformation'].value === 'other'">
          <mat-label>Please specify</mat-label>
          <input matInput placeholder="Specify how you heard about us" formControlName="other">
        </mat-form-field>

        <mat-form-field>
          <mat-label>Reason for Signing Up (optional)</mat-label>
          <textarea matInput placeholder="Enter your reason" formControlName="reason"></textarea>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" [disabled]="shouldDisableSubmit()" (click)="onSubmitClicked()">Submit</button>
      <div class="error-message" *ngIf="isError">{{ errorMessage }}</div>
    </mat-card-actions>
    

  </mat-card>
</div>